*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: pink;
    min-height: 320px;
    margin-bottom: 20px;
}

.smallbox {
    background-color: green;
    min-height: 35px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 10px 2px;
}

.box-container {
    width: 97%;
    margin: auto;
    display: flex;
    justify-content: center;
}