*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    min-height: 320px;
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.box {
    display: flex;
    justify-content: center;
    min-height: 50px;
    line-height: 50px;
    background-color: royalblue;
    border: 1px solid white;
    vertical-align: middle;
    color: white;
    font-size: 20px;
}

.smallbox {
    background-color: green;
    min-height: 35px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 10px 2px;
}

.box-container {
    width: 97%;
    margin: auto;
    display: flex;
    justify-content: center;
}